.navbar {
    width: 100vw;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    border: .5px solid rgba(0, 0, 0, 0.455);
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    background-color: white;
}

.modalBkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    overflow-y: hidden;
    cursor:default;
    background-color: rgba(0, 0, 0, 0.299);
}

.navbarpageBkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    overflow-y: hidden;
    cursor:default;
}

.navbardropdown {
    width: 50px;
    height: 30px;
    border: .5px solid rgba(0, 0, 0, 0.463);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.navbarcomponents {
    display: flex;
    padding: 15px 150px;
    justify-content: space-between;
    align-items: center;
}

.menudropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: white;
    width: 100px;

    border: .5px solid rgba(0, 0, 0, 0.393);
    border-radius: 5px;
    padding: 10px;
}

.navbarLinksHome {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #eb4c60;
    padding: 5px 0;
}

.navbarLinks {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #eb4c60;
    padding: 5px 0;
}

.navbarLinks1 {
    display: flex;
    padding: 5px 0;
    justify-content: center;
    text-decoration: none;
    color: #eb4c60;
    border-bottom: .5px solid black;
}

.logo {
    width: 40px;
    height: 30px;
}

.homeLinks {
    display: flex;
    align-items: center;
}

.hostSpotIcon {
    width: 15px;

}