.singleSpotPage {
  margin: 100px 0px;
  padding: 0% 20%;
}

.spotPicturesContainer {
  width: 100%;
  height: 400px;
}

.avgRatingStars {
  z-index: -1;
}

.spotPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lowerSpotPage {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
}

.lowerLeftSpotPage {
  width: 100%;
}

.hostInfo {
  padding: 30px 0px;
  border-bottom: 0.5px solid black;
}

.hostUsername {
  font-size: 25px;
  margin: 0;
}

.spotDescription {
  border-bottom: 0.5px solid black;
  padding: 0px 0px;
  padding-bottom: 30px;
}
.spotReviewsContainer {
  padding: 00px 0px;
}

.newReviewForm {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.editReviewModal {
  width: 100vw;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.637);
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editReviewFormBkg {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.editReviewForm {
  position: absolute;
  z-index: 55;
  padding: 10px;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  animation: popup 0.3s;
}

.inputEditReview {
  display: flex;
  width: 100%;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.newReviewSubmit {
  border: 0;
  background-color: #eb4c60;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.editReviewSubmit {
  border: 0;
  background-color: #eb4c60;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.starRatingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.inputStars {
  z-index: 1;
}

.reviewStars {
  z-index: -1;
}

.reviewInput {
  width: 80%;
  height: 50px;
  resize: none;
  font-size: 15px;
}

.reviewContainer {
  width: 80%;
}

.userReview {
  padding: 5px 0px;
  overflow-wrap: break-word;
}

.createdReviews {
  display: flex;
  padding: 5px 0px;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
}

.reviewsButtons {
  display: flex;
  justify-content: space-between;
}

.editReviewButton {
  border: 0.5px solid rgba(0, 0, 0, 0.349);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteReviewButton {
  border: 0.5px solid rgba(0, 0, 0, 0.34);
  padding: 3px;
  border-radius: 5px;
  color: red;
  cursor: pointer;
}

/*CREATE SPOT PAGE CSS*/
.createSpotPage {
padding-top: 100px;
padding-bottom: 300px;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
}

.createSpotErrors {
  color: red;
}

.createSpotForm {
  width: 600px;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.392);
  border-radius: 10px;
  padding: 20px;
}

.upperSpotPagebottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.editSpotButton {
  width: fit-content;
  padding: 5px;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.spotPicture {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.labelInputContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.hostingSpotButton {
  border: 0;
  background-color: #993744;
  color: white;
  padding: 15px;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
}

.hostSpotButton {
  border: 0;
  background-color: #eb4c60;
  color: white;
  padding: 15px;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
}

.hostSpotButton:hover {
  background-color: #ff435c;
}

.spotDescriptionInput {
  resize: none;
  width: 200px;
  height: 150px;
}

.newSpotInputs {
  width: 200px;
}
.newSpotInputState {
  width: 207px;
}

.spotImgPreview {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border: 1px solid black;
}

input[type="file" i] {
  width: fit-content;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  border: 0;
  background-color: #eb4c60;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: fit-content;
  cursor: pointer;
}

.labelInputContainerImage {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}


/* EDIT/DELETE SPOT */
.createSpotPageEdit {
  padding-top: 100px;
  padding-bottom: 300px;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
  }

.editButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.editSpotPage {
  margin-top: 100px;
  display: flex;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  flex-direction: column;
}

.deleteSpotButton {
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  background-color:#f72440;
  padding: 15px;
  width: fit-content;
  cursor: pointer;
}

.placeOfferingsIconsContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 0.5px solid black;
}

.placeOfferingsIcons {
  display: flex;
  align-items: center;
  padding: 10px;
}

.offeringTitles {
  padding: 0 10px;
  width: 150px;
}

.deleteModal {
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  background-color: white;
  border-radius: 5px;
  z-index: 50;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  animation: popup 0.3s;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.deleteModalButtons {
  display: flex;
  padding: 10px 0;
}

.cancelButton {
  padding: 5px;
  border: .5px solid rgba(0, 0, 0, 0.416);
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.deleteButtonFINAL {
  padding: 5px;
  border-radius: 5px;
  background-color: #f72440;
  color: white;
  cursor: pointer;
}

.reviewErr {
  color: #f72440;
  padding-bottom: 5px;
}


